  <p>
    <strong>Name:</strong>
    <%= link_to category.name, admin_category_books_path(category.id) %>
  </p>
  <p>
    <strong>Product count:</strong>
    <%= category.products_count || 0 %>
  </p>
    <%= render category.sub_categories %>
